@import '../../colors.scss';

.DashboardSummaryListItem {
  border-left: 2px solid $lightGreyText;
  padding: 10px 0 10px 24px;

  > p {
    margin: 0;
    color: $lightGreyText;
    font-size: 14px;
    font-weight: 700;
  }

  > span {
    display: flex;
    align-items: center;
    padding-top: 10px;
    color: $darkGreyText;

    > h2 {
      margin: 0;
    }

    > h3 {
      margin: 0 12px;
    }

    img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
    }
  }
}
