$white: rgb(255, 255, 255);
$backgroundGrey: rgb(244, 245, 247);
$extraLightGreyText: rgb(236, 237, 240);
$lightGreyText: rgb(202, 206, 214);
$darkGreyText: rgb(109, 115, 123);
$red: rgb(219, 106, 122);
$green: rgb(122, 216, 203);
$blue: rgb(99, 160, 230);
